/*Must have at least 15*/
body{
    text-align: center;
    font-family: cursive;
    background-image: url("../img/backg.jpg");
    height: 100%;
    overflow: hidden;
    background-size: cover;
}
.row{
    margin-top: 50px;
    margin-left: 100px;
}
.column{
    float: center;
    padding:10px;
    font-size: medium;
    margin-left: 100px;
}
.column2{
    float: center;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}