body {
 background-color: 	#3AAFA9;
 color:#17252A;
 font: cursive;
  
}
/*class for links for other files*/
.files{
    text-align: center;
    text-align:center;
    padding:14px 16px;
    text-decoration: none;
    float: center;
    font:times; 
}
.files .current{
    color: #DEF2F1;
}

/*first paragraph*/
.intro{
    text-align: center;
    font-family: inherit;
    font-size: 1.5em;
    color: #17252A;
    margin-bottom: 2%;
}
header {
    text-align: center;
    font-family: serif;
    color: #FEFFFF;
    background-color: #2B7A78;
}

/*for paragraph with more information*/
.second{
     float: center;
    padding:10px;
    font-size: medium;
}
.image{
    text-align:center;
    
}

/*for menu paragraph*/
.column{
    float: left;
    padding:10px;
    font-size: medium;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
/**********************/
.details{
    text-align: left;
    font-family: inherit;
    font-size: 1.5em;
    color: black;
}
.facts{
    text-align: center;
    font-family: inherit;
    font-size: 1em;
    color: black;
    /*margin-right: 50%;*/
}

.nav .current{
    color: #17252A;
}
.bigTable{
    margin-left: 7.5%;
}


nav{
    font-family: inherit;
    font-size: 1.7em;
    font-style: normal;
    font-weight: bolder;
   
}
table, th, td {
   border: 1px blue;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 25px;
   
    
}

#table-header{
    text-align: center;
    background-color: #2B7A78;
}
.table-row{
   background-color: #2B7A78;
     text-align: center;
}


/*class for references links*/
.links{
    margin-bottom: 5%;
    margin-top: 2%;
    font-size: 1.5em;
}
li{
    text-align: left;
    font-family: inherit;
    font-size: 1.5em;
    color: black;

}
/*Creating tutorial buttons*/
.buttons{
    float: center;
 
}
.swagButton{
    font-family: cursive;
    font-weight: 100;
    font-size: 1.5em;
    text-align: center;
    color: #17252A;
    border: solid 2px #17252A;
    border-radius: 50px;
    padding: 10px 20px;
   
    transition-duration: 0.4s;
    
}
.swagButton:hover { 
    background-color: #2B7A78;
    color: #fff;
    
}
footer{
    text-align: center;
}
.hr {
    height: 15px;
  /*width: "10%";*/
  color: #2B7A78;
}
